* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans';
}
body {
  background-color: rgb(15, 15, 17);
}
.chat {
  width: 450px;
  height: 100vh;
  margin: 0 auto;
  background: url(bg.jpg);
  background-size: contain;
  overflow: hidden;
  position: relative;
}
.chat-heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.212);
  backdrop-filter: blur(3px);
  box-shadow: 3px 0px 30px rgba(48, 43, 43, 0.219);
  display: flex;
  justify-content: space-between;
}
.messagebox {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  display: flex;
  padding: 1rem;
}
.message-input:focus {
  outline: none;
  border-color: rgb(145, 145, 145);

}
.message-input {
  flex-grow: 1;
  padding: 1rem;
  border: none;
  border: 1px solid rgb(199, 198, 198);
  border-radius: 50rem;
}
.messages {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  padding: 4rem 0 5rem;
  overflow-y: auto;
}
.message {
  min-width: 100px;
  max-width: 300px;
  padding: .7rem;
  border-radius: 1rem;
}
.message-wrapper:first-child {
  /* hide the dummy node */
  display: none; 
}
.message-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}
.message-wrapper.me {
  justify-content: flex-end;
}
.message-wrapper:not(.me) .message {
  border-bottom-left-radius: 0;
}
.message-wrapper .message {
  background-color: #f6f8fc;
  margin-left: 1rem;
  justify-self: flex-start;
}
.message-wrapper.me .message {
  background-color: #577af3;
  color: white;
  margin-right: 1rem;
  border-bottom-right-radius: 0;
}
.message .name {
  font-weight: 700;
  margin-bottom: .3rem;
  opacity: .8;
  font-size: .9rem;
}
.modal-wrapper.show {
  display: block;
}
.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,.6);
  display: none;
}
.modal {
  margin: 8rem auto 0;
  padding: 1rem;
  border-radius: 1rem;
  width: min(100%, 320px);
  background-color: white;
}
.modal input {
  width: 100%;
  padding: .5rem;
}